@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --main-color: #000;
    --sec-text: rgb(84, 84, 84);
    --bgc:#FAFBFE;
    --projects-color: rgb(231, 231, 231);
}

body {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bgc);
}

.header-cont {
    margin: 0 50px;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
}

.logo {
    flex-basis: 33%;
    font-size: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 33%;
}

nav .navigation {
    display: flex;
    flex-direction: row;
}

li {
    padding: 10px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
}

.contact-container {
    padding-right: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-basis: 33%;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: larger;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 3px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 10px;
}

main {
    margin: 0 50px;
    padding: 50px 0;
    display: flex;
}

.desc {
    margin-top: 100px;
    padding: 20px 0 20px 50px;
    max-width: 50%;
    font-size: 40px;
}

.full-name {
    -webkit-text-stroke: #000 2px;
    color: #fff;
}

.info {
    margin: 0;
}

.type {
    font-size: 50px;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(100, end);
}

.name {
    max-width: 700px;
    font-weight: bold;
    font-size: 20px;
    color: var(--sec-text);
    animation: SlideLeft 1s ease-in 1.5s  both;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes SlideLeft {
    0% {
        transform: translateX(-800px);
    }
    80% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
    }
}

.img {
    flex-basis: 50%;
    display: flex;
    justify-content: right;
    
}

.responsive {
    height: 100%;
    max-height: 600px;
    width: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 1200px) {
    .img {
        display: none;
        width: 0%;
    }
    .type {
        width: 100%;
        flex-basis: 100%;
        white-space: wrap;
        animation: none;
    }
    .name {
        animation: SlideLeft 1s ease-in .5s  both;
    }
}

section {
    color: var(--projects-color);
    background-color: #000000;
}

.info-cont {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding: 0 100px;
    text-align: right;
    font-size: 20px;
}

.projects-cont {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    align-items: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    height: 700px;
    padding: 0 20px;
}


.projects-info {
    padding: 40px 0;
    font-size: 35px;
}

.project p {
    font-size: 20px;
}

.project a {
    margin: 20px;
}

.more {
    text-decoration: none;
    text-align: right;
    color: var(--bgc);
}
.left {
    flex-basis: 33%;
}
.left img {
    width: 500px;
}
.main {
    flex-basis: 33%;
}
.main img {
    width: 500px;
}
.right {
    flex-basis: 33%;
}
.right img {
    width: 500px;
}

section h3 {
    font-size: 50px;
}

.skills-container {
    background-color: var(--bgc);
    color: var(--main-color);
    display: flex;
}

.skills-container h3 {
    font-size: 50px;
    padding-left: 100px;
}

.contact-form {
    background-color: var(--main-color);
    color: var(--bgc);
    padding-top: 35px;
}

.contact-info {
    display: flex;
    align-items: center;
}

input {
    border: 3px solid white;
    background-color: var(--bgc);
    border-radius: 10px;
    color: var(--main-color);
    padding: 5px;
}


.contact-form h3 {
    text-align: right;
    font-size: 50px;
    padding-right: 100px;
}

form {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 100px;
    flex-basis: 40%;
}

.submit-cont {
    display: flex;
    justify-content: center;
}

.submit {
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #03fc41;
    border: #000000 2px solid;
    cursor: pointer;
    font-size: 20px;
}

.submit:hover {
    background-color: #fff;
    color: #000;
    transition: ease-in-out .5s;
}

.contact-desc {
    text-align: right;
    font-size: 25px;
    padding: 0 100px;
}

footer {
    background-color: var(--main-color);
    color: var(--projects-color);
    padding: 20px;
    display: flex;
}

h4 {
    flex-basis: 50%;
    font-size: 20px;
}

.media-container {
    flex-basis: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 80px;
    padding-top: 20px;
}

.instagram, .facebook, .youtube {
    cursor: pointer;
}

.media-info {
    font-size: 20px;
    padding-right: 5px;
}