@media only screen and (max-width: 480px) {
    .logo {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .header-cont {
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: row;
    }
    th {
        display: none;
    }
    .tab-up {
        padding: 5px;
    }
    .tab-main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobile-menu {
        right:60%;
        height: 300px;
    }
    #hamburger-icon {
        display: block;
    }
    nav {
        display: none;
    }
    .contact-container {
        display: none;
    }
    main {
        margin: 0 10px;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .desc {
        min-width: 350px;
        margin-top: 50px;
        padding: 0;
        font-size: 30px;
    }
    .full-name {
        -webkit-text-stroke: #c601b9 2px;
        color: #c601b9;
    }
    .info {
        margin: 0;
    }
    .type {
        font-size: 30px;
        white-space: nowrap;
        animation: none;
    }
    .name {
        max-width: 700px;
        font-weight: bold;
        font-size: 20px;
        color: var(--sec-text);
        animation: none;
    }
    .bounce-in-right {
        animation: none;
      }
      section {
        color: var(--projects-color);
        background-color: #000000;
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    section h3 {
        text-align: center;
        padding-right: 0;
    }
    
    .info-cont {
        display: flex;
        flex-direction: column;
        min-width: 350px;
        margin:0;
        font-size: 20px;
        align-items: center;
        text-align: center;
    }
    
    .info-cont img {
        display: none;
    }
    
    .pulse {
        animation: none;
    }
    .project {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 50px;
        height: 500px;
        padding: 0;
    }
    .projects-info {
        flex-basis: 50%;
        font-size: 30px;
        text-align: right;
        padding-bottom: 50px;
        padding-left: 0;
        padding: 10px;
    }
    .pro {
        font-size: 30px;
        -webkit-text-stroke: #05e32a 2px;
        color: #05e32a;
    }
    
    .pimg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .project h4 {
        font-size: 30px;
        text-align: center;
    }
    .more {
        margin: 0;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        color: var(--bgc);
    }
    .project img {
        max-width: 350px;
    }
    .projects-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis: 50%;
        align-items: center;
    }
    .cinema-desc {
        padding: 10px;
    }
    .photos-desc {
        padding: 10px;
    }
    .nba-desc {
        padding: 10px;
    }
    .skills-info-cont {
        background-color: var(--bgc);
        color: var(--main-color);
        padding: 20px 0;
    }
    .skills-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .skill {
        background-color: var(--bgc);
        color: var(--main-color);
        padding: 20px;
        max-width: 350px;
    }
    
    .h3-cont h3 {
        text-align: center;
        font-size: 45px;
        padding-left: 0;
        background-color: var(--bgc);
        color: var(--main-color);
    }
    
    .skills-desc {
        font-size: 25px;
        padding-left: 10px;
        flex-basis: 50%;
        padding-right: 0;
    }
    .t-cont {
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    .t-cont h3 {
        text-align: center;
        padding: 0%;
    }
    
    .skills-cont {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin:10px 30px;
        margin: auto;
    }
    .skill-card {
        margin: 10px;
        height: 300px;
        width: 300px;
        background-color: var(--projects-color);
        color: var(--main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
    }
    .s-img-cont img {
        display: none;
    }
    .skill-card h4 {
        font-size: 25px;
    }
    .skill-outline {
        font-size: 30px;
        color: #0903bb;
        -webkit-text-stroke: #0903bb 2px;
    }

    .roadmap {
        max-width: 350px;
        margin: 0;
    }

    .line-hor {
        background: var(--main-color);
        border: var(--main-color) solid 0px;
        border-radius: 0;
        width: 0;
        height: 0;
    }
    .line-up {
        background: var(--main-color);
        border: var(--main-color) solid 3px;
        border-radius: 10px;
        width: 10px;
        margin-left: 100px;
        height: 80px;
    }
    
    .line-mid {
        background: var(--main-color);
        border: var(--main-color) solid 3px;
        border-radius: 10px;
        width: 10px;
        margin-left: 100px;
        height: 150px;
    }
    .begin {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-right: 10px;
    }
    
    .school {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-right: 10px;
    }
    
    .go {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-right: 10px;
    }
    
    .learn {
        display: flex;
        text-align: center;
        font-size: 20px;
        padding-right: 10px;
    }

    .mobile-map {
        display: flex;
        flex-direction: column;
    }
    .bug-outline {
        color: #03fc41;
        -webkit-text-stroke: #03fc41 2px;
    }
    
    .contact-form {
        background-color: var(--main-color);
        color: var(--bgc);
        padding-top: 35px;
    }
    
    .contact-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    input {
        border-bottom: 3px solid #03fc41;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        background-color: var(--main-color);
        color: var(--bgc);
        padding: 15px;
        margin: 10px;
        font-size: 25px;
        max-width: 350px;
    }
    
    input:focus {
        outline: none;
        font-size: 25px;
    }
    
    .contact-form h3 {
        text-align: right;
        font-size: 50px;
        padding-right: 100px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        padding: 100px;
        flex-basis: 40%;
    }
    
    .submit-cont {
        display: flex;
        justify-content: center;
    }
    
    .submit {
        width: 50%;
        border-radius: 10px;
        padding: 10px;
        margin: 20px;
        background-color: #03fc41;
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
    }
    .contact-desc {
        text-align: center;
        font-size: 25px;
        padding: 0;
    }
    
    textarea {
        border: #03fc41 1px solid;
        background: var(--main-color);
        color: var(--bgc);
        font-size: 25px;
        margin: 10px;
        max-width: 400px;
    }
}